.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.format{
  font-weight: bold;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

button{
  flex-grow: 1;
  margin: 8px;
}

.doc{
  flex-grow: 1;
}